{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>customer</title>
  <link rel="stylesheet" href="{% static '/css/master.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <style>
      .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 12px 16px;
          z-index: 1;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #ad91b4;">
    <div class="container-fluid" style="height: 50px;">
        <img src="{% static '/images/images.jpg' %}" alt=""
            style="height: 50px; width: 250px; background-color: transparent;" id="img1">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-expand-lg" id="navbarTogglerDemo02">

            <form class="d-flex col-5 col-sm-12" role="search" method="post" action="{% url 'customer:search_product' %}">
              {% csrf_token %}
                <div class="input-group" style="width: 1100px;">
                    <input class="form-control border border-right-0" type="text" name="searchdata" id="search"
                        placeholder="Search..." aria-label="Search">
                    <span class="input-group-append">
                        <button id="srch" class="btn btn-secondary border border-left-0 search-btn" type="submit"
                            style="border: none;">
                            <img src="{% static '/images/search.png' %}" alt="" style="width: 30px;height: 30px;">
                        </button>
                    </span>
                </div>

            </form>


        </div>
      <div class="btn-group">
        <div class="dropdown">
            <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="width: 50px;height: 50px;">Current user</span>
            <div class="dropdown-content">
                <a href="{% url 'customer:customer_profile' %}"><button class="dropdown-item" type="button">Profile</button></a>
                <a href="{% url 'customer:view_cart' %}"><button class="dropdown-item" type="button">View cart</button></a>
                <a href=""><button class="dropdown-item" type="button">My orders</button></a>
                <a href="{% url 'customer:change' %}"><button class="dropdown-item" type="button"> Change password</button></a>
                <a href="{% url 'customer:logout' %}"><button class="dropdown-item" type="button">Logout</button></a> 
                    
                
            </div>
        </div> 
      </div>           
        
    </div>
    <div class="btn-group" style="visibility: hidden;">
      <div class="dropdown">
          <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="width: 50px;height: 50px;">User</span>
          <div class="dropdown">
            <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="width: 50px;height: 50px;">Current user</span>
            <div class="dropdown-content">
                <a href=""><button class="dropdown-item" type="button">Profile</button></a>
                <a href=""><button class="dropdown-item" type="button">View bag</button></a>
                <a href=""><button class="dropdown-item" type="button">My orders</button></a>
                <a href=""><button class="dropdown-item" type="button"> Change password</button></a>
                <a href=""><button class="dropdown-item" type="button">Logout</button></a> 
                    
                
            </div>
        </div> 
        </div>            
      
  </div>
    
  </nav>


 
  <div class="col-lg-10 col-md-9 col-12 content container" style="height: 460px;overflow: scroll;">
    {% block content %} {% endblock %}
</div><br><br><br><br> 


    <footer>
        <div class="card text-center container-fluid" style="background-color: #ad91b4;width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 mb-0 md-md-0">
                        <a href="https://www.instagram.com/"
                            style="color: white;text-decoration: none;">instagram</a>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-0 md-md-0">
                        <a href="https://www.facebook.com/" style="color: white;text-decoration: none;">Facebook</a>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-0 md-md-0">
                        <a href="https://twitter.com/i/flow/login"
                            style="color: white;text-decoration: none;">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>